body {
    background-color: red;
}

h1 {
    color: rgb(0, 255, 136);
    margin-left: 10px;
}

h2 {
    color: rgb(204, 0, 255);
    margin-left: 10px;
}

h3 {
    color: rgb(9, 153, 105);
    margin-left: 10px;
}

p {
    color: white;
    margin-left: 10px;
}